PORT = 8000
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET = chai-aur-code
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = chai-aur-backend
REFRESH_TOKEN_EXPIRY = 10d
MONGODB_URI =mongodb+srv://krrish:krrish123@cluster0.3mvheo9.mongodb.net/
MONGODB_URI = mongodb+srv://Krrish:<krrish@123>@cluster0.tllmnxc.mongodb.net